<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDcsebQ-Jw1K38zBJ1YGPN-WK4g_t3ysnw</string>
	<key>GCM_SENDER_ID</key>
	<string>1061507424704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAdvancedTopics.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>docapp-51369</string>
	<key>STORAGE_BUCKET</key>
	<string>docapp-51369.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061507424704:ios:3b247c45baec99e2466825</string>
</dict>
</plist>